.vscode
*.exe.old
*.exe

assets/sounds/
assets/images/*

!assets/images/atlas_boke.png
!assets/images/SKF_icon.png
!assets/images/SKF_logo.png
!assets/images/stage_cava.jpg
!assets/images/atlas_template.png
